/**
 * Containers
 */

html {
	line-height: 1.5;
	font-size: 10px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
	font-weight: normal;
	color: #eee;
	background-color: #111;
	width: 100%;
	height: 100%;
}

body {
    display: block;
    font-size: 1.6rem;
	margin: 0px auto;
	padding: 0 1rem;
	max-width: 900px;
    height: 100%;
    min-height: 100%;
}

.body-wrapper {
    display: flex;
	flex-direction: column;
	height: 100%;
}

.container-horizontal {
    display: flex;
	flex-direction: row;
	padding: 20px 0;
}

.container-vertical {
    display: flex;
	flex-direction: column;
	padding: 20px 0;
}

/*****************************************************************************
 * links, buttons
 *****************************************************************************/

a {
	color: #eee;
	text-decoration: none;
	border-bottom: 1px dashed #eee;
}
a:hover {
	border-bottom: 1px solid #eee;
}

button, input[type="button"] {
	margin: 0;
	border: 1px solid #eee;
	border-radius: 0;
	background-color: transparent;
	overflow: visible;
	font: inherit;
	color: #eee;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 30px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: .1s ease-in-out;
	transition-property: color,background-color,border-color;
}

button:hover:enabled, button:focus:enabled, input[type="button"]:hover:enabled, input[type="button"]:focus:enabled {
	background-color: #eee;
	color: #111;
	border-color: #eee;
	outline: none;
}

button:enabled, input[type="button"]:enabled {
	cursor: pointer;
}

button:disabled, input[type="button"]:disabled {
	cursor: no-drop;
    background-color: #111;
    color: #999;
    border-color: #999;
}


/*****************************************************************************
 * FORM stuff
 *****************************************************************************/

input, select, textarea {
	box-sizing: border-box;
	margin: 0;
	border-radius: 0;
	font: inherit;
}

input[type="radio"], input[type="checkbox"] {
	padding: 0px;
	display: inline-block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	margin-top: -4px;
	vertical-align: middle;
	border: 1px solid #eee;
	transition: .2s ease-in-out;
	transition-property: background-color,border;
}

input, select {
	vertical-align: middle;
}

input, select, textarea {
	background-color: #111;
	color: #eee;
	padding: 5px 10px;
	border: 1px solid #eee;
	transition: .2s ease-in-out;
	transition-property: color,background-color,border;
	width: 100%;
	max-width: 100%;
	display: inline-block;
}

input:focus, select:focus, textarea:focus {
	outline: none;
	background-color: #111;
	color: #eee;
	border-color: #eee;
}

input:disabled, select:disabled, textarea:disabled {
	background-color: #111;
	color: #999;
	border-color: #999;
}

select:not(:disabled), input[type="radio"]:not(:disabled), input[type="checkbox"]:not(:disabled) {
	cursor: pointer;
}


/*****************************************************************************
 * content objects
 *****************************************************************************/

h1 {
	font-size: 2.4rem;
	line-height: 1.4;
}

h2 {
	font-size: 2.2rem;
	line-height: 1.4;
}

h3 {
	font-size: 2.0rem;
	line-height: 1.4;
}

h4 {
	font-size: 1.8rem;
	line-height: 1.5;
}

h5 {
	font-size: 1.6rem;
	line-height: 1.5;
}

h6 {
	font-size: 1.4rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 2.0rem 0;
    font-weight: 400;
    color: #eee;
    text-transform: none;
}

*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
    margin-top: 2.0rem;
}

p, ul, ol, dl, pre {
    margin: 0 0 2.0rem 0;
}

/* 
*+p, *+ul, *+ol, *+dl, *+pre {
    margin-top: 20px;
}
*/

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	text-align: inherit;
	margin: 0 0 20px 0;
	border: 0;
	border-top: 1px dashed #777;
}

pre > code {
	display: block;
	padding: 1.0rem;
	overflow: auto;
}

code {
	font-family: monospace;
	background-color: #171717;
    border-radius: 3px;
    padding: 0.22rem 0.46rem;
	font-size: 85%;
	color: #ddd;
}

blockquote {
	display: block;
    border-left: 0.5rem solid #2e2e2e;
	color: #ddd;
	background-color: #171717;
	padding: 0 1.5rem;
	margin: 0;
}

table {
	display: block;
    overflow: auto;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #bbb;
}

table tr:nth-child(2n) {
	background-color: #171717;
}

table th, table td {
	/* border: 1px solid #bbb; */
	padding: 0.6rem 1.2rem;
}

table thead {
	font-weight: 600;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.nav {
	font-size: 2.0rem;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
@media (max-width: 454px) {
	.nav {
		font-size: 1.8rem;
		font-weight: normal;
	}
}

.nav ul {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.nav li a {
	display: block;
	padding: 2.4rem;
	text-decoration: none;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	transition: .1s ease-in-out;
	transition-property: color,background-color,border-color,border-style;
}
@media (max-width: 454px) {
	.nav li a {
		padding: 1.8rem;
	}
}

.nav li a:hover {
	background-color: #eee;
	color: #111;
	/* border: 1px solid #eee; */
}

.content {
	flex: 1 0 auto;
	padding: 30px 0;
}

.footer {
	flex-shrink: 0;
	border-top: 1px solid #eee;
	margin-top: 10px;
	align-items : center;
	justify-content : space-between;
	font-size: 1.4rem;
}

.cv-wrapper {
	display: grid;
	grid-template-columns: 120px 1fr;
	grid-auto-rows: minmax(2rem, auto);
	grid-gap: 1.5rem 3rem;
}

.cv-wrapper div:nth-child(2n+1) {
	text-align: right;
}

.project-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
	grid-gap: 2rem;
}

.project-wrapper div {
	background-color: #171717;
	padding: 1rem;
}

.project-wrapper div h3 {
	line-height: 2.0;
    border-bottom: 1px dashed #777;
}

.blog-entry img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.post-link-wrapper a {
	margin-left: 2rem;
}

/*****************************************************************************
 * styling
 *****************************************************************************/

.logo {
	line-height: 1;
	font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: pre;
    text-decoration: none;
}
@media (max-width: 454px) {
	.logo {
		font-size: 1.2rem;
		font-weight: normal;
	}
	.logo-suffix {
		display: none;
	}
}

.logo-link, .logo-link:hover {
	font-family: monospace;
	border: 0;
	text-decoration: none;
	display: flex;
	align-items: flex-end;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

.margin {
	margin-bottom: 20px;
}

.social-link, .social-link:hover {
	text-decoration: none;
	border: none;
	display: inline-block;
}
